.collection-item {
  width: 22vw;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;

  .image {
    width: 100%;
    height: 95%;
    margin-bottom: 5px;
    background-size: cover;
    background-position: center;
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    font-size: 18px;
    display: flex;
    justify-content: space-between;

    .name {
      width: 90%;
      margin-bottom: 15px;
    }

    .price {
      width: 10%;
    }
  }

  button {
    width: 80%;
    top: 255px;
    display: none;
    position: absolute;
  }

  &:hover {
    .image {
      opacity: 0.8;
    }

    button {
      opacity: 0.8;
      display: flex;
    }
  }
}
