body {
  font-family: "Open Sans Condensed", sans-serif;
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}

/* to fix the padding and margin issue  */
* {
  box-sizing: border-box;
}